@model IEnumerable<LMS4Carroll.Models.ChemInventory>

@{
    ViewData["Title"] = "Index";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Chemical Inventory</div>
    <div class="panel-body">
        <div class="btn-group">
            @if (User.IsInRole("Admin") || User.IsInRole("ChemUser"))
            {
                <a id="createRoleModal" asp-action="Create" class="btn btn-primary">
                    <i class="glyphicon glyphicon-plus"></i>  Add Inventory
                </a>
            }
        </div><br />
            <form asp-controller="ChemInventories" asp-action="Index">
                <div class="form-actions no-color">
                    <p>
                        <input type="text" name="CheminventoryString" value="@ViewData["currentFilter"]" />
                        <input type="submit" value="Search" class="btn btn-default" />  
                        <a class="btn btn-default" asp-action="Index">Back to Full List</a>
                    </p>
                </div>
            </form>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BarcodeID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Chemical.CAT)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Chemical.CAS)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Chemical.FormulaName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Location.StorageCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Chemical.SDS)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ExpiryDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.QtyLeft)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Units)
                        </th>
                        @if (User.IsInRole("Admin") || User.IsInRole("ChemUser"))
                        {
                            <th>
                                Actions
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BarcodeID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Chemical.CAT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Chemical.CAS)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Chemical.FormulaName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location.StorageCode)
                            </td>
                            <td>
                                <a target="_blank" href="@Html.DisplayFor(modelItem => item.Chemical.SDS)">SDS</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpiryDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QtyLeft)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Units)
                            </td>
                            @if (User.IsInRole("Admin") || User.IsInRole("ChemUser"))
                            {
                                <td>
                                    <a id="addEditApplicationRoleModal" asp-action="Edit" asp-route-id="@item.BarcodeID" class="btn btn-info">
                                        <i class="glyphicon glyphicon-pencil"></i>Edit
                                    </a>
                                    <a id="deleteApplicationRoleModal" asp-action="Delete" asp-route-id="@item.BarcodeID" class="btn btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>Delete
                                    </a>
                                    <a id="addEditApplicationRoleModal" asp-action="Details" asp-route-id="@item.BarcodeID" class="btn btn-info">
                                        <i class="glyphicon glyphicon-pencil"></i>Details
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
