@model LMS4Carroll.Models.Course

@{
    ViewData["Title"] = "Details";
}

<<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">Course Details</div>
    <div class="panel-body">
        <br />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Handler)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Handler)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Instructor)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Instructor)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Number)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Number)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LocationID)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LocationID)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.CourseID">Edit</a><br />
            <a asp-action="Index" class="btn btn-default">Back to List</a>
        </div>
        </div>
    </div>
